<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <style>
        .parent {

            width: 100vw;
            height: 100vh;

            /* additional style */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .child {
            width: 750px;
            height: 750px;
        }

    </style>
</head>
<body>

<div class="parent">
    <div class="child">
        <h1>Thêm thông tin sản phẩm</h1>
        <form method="post" th:object="${product}" action="/product/edit">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">ID</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{id}">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Tê Sản Phẩm</label>
                <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Giá Sản Phẩm</label>
                <input type="text" class="form-control" id="exampleInputPassword12" th:field="*{price}">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mô tả sản phẩm</label>
                <input type="text" class="form-control" id="exampleInputPassword13" th:field="*{description}">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nhà xuất bản</label>
                <input type="text" class="form-control" id="exampleInputPassword14" th:field="*{NSX}">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>